#inp{
     height: 80px;
}
.button{
    height: 75px;
    width: 68px;
    margin: 2px;
}
.calculator{
width: 320px;
height: 400px;
margin: auto;
}
.box{
    width: 200px;
    height: 200px;
    background-color: red;
}
.nextbox{
    width: 200px;
    height: 200px;
    background-color: black;
}
